# Build
**/bin/
**/obj/

# IDE
.vs/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Test outputs
TestResults/

# Local runtime data
.data/
**/DataProtection-Keys/

# NuGet
*.nupkg
**/packages/

# Logs
*.log
DbCreationLogs.txt
