<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientId" value="DxyFyRyB2aKAYEBucIX6KeQ/RegFdv1PxzyA6PoKd2I="/>
		<add key="ClientSecret" value="GAYyyOji3eUzQXP2fHeOsfFGbBHLbEGw46MacFXFW4o="/>
		<add key="BaseUrl" value="https://localhost:5001"/>
		<add key="AuthorizeEndpoint" value="/security/authorize"/>
		<add key="TokenEndpoint" value="/security/token"/>
		<add key="UserInfoEndpoint" value="/security/userinfo"/>
		<add key="IntrospectionEndpoint" value="/security/introspect"/>
		<add key="AuthResponseType" value="code"/>
		<add key="AuthScope" value="openid email profile offline_access phone HCL.CS.SF.apiresource HCL.CS.SF.client HCL.CS.SF.user HCL.CS.SF.role HCL.CS.SF.identityresource HCL.CS.SF.adminuser HCL.CS.SF.securitytoken"/>
		<add key="AuthResponseMode" value="query"/>
		<add key="Prompt" value="none"/>
		<add key="RedirectUri" value="http://127.0.0.1:63562/"/>
		<add key="ClientScope" value="HCL.CS.SF.client"/>
		<add key="HybridScope" value="openid HCL.CS.SF.client email profile offline_access"/>
		<add key="HybridResponseMode" value="form_post"/>
		<add key="HybridResponseType" value="code id_token token"/>
		<add key="UserInfoScope" value="openid email profile offline_access phone"/>
		<add key="UserInfoResponseMode" value="form_post"/>
		<add key="UserInfoResponseType" value="code id_token token"/>
		<add key="JwtScope" value="openid email profile phone"/>
		<add key="JwtResponseMode" value="query"/>
		<add key="JwtResponseType" value="code"/>
		<add key="ROPScope" value="openid email profile"/>
		<add key="RefreshTokenScope" value="openid email profile phone HCL.CS.SF.client offline_access"/>
		<add key="RefreshTokenMode" value="fragment"/>
		<add key="RefreshTokenType" value="code id_token token"/>
	</appSettings>
</configuration>