@model HCL.CS.SF.DemoClientMvc.ViewModels.Endpoint.AuthorizeEndpointViewModel

<div class="row g-3">
    <div class="col-12 col-lg-6">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="h5">Authorization Code + PKCE Session Claims</h2>
                <div class="table-responsive">
                    <table class="table table-sm table-striped align-middle mb-0">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var claim in Model.Claims)
                        {
                            <tr>
                                <td><code>@claim.Type</code></td>
                                <td class="text-break">@claim.Value</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="h5">Authentication Properties</h2>
                <div class="table-responsive">
                    <table class="table table-sm table-striped align-middle mb-0">
                        <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var prop in Model.AuthenticationProperties)
                        {
                            <tr>
                                <td><code>@prop.Type</code></td>
                                <td class="text-break">@prop.Value</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
