@model HCL.CS.SF.DemoClientMvc.Models.VerifyAccountViewModel
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h4>Account verification</h4>
            <hr/>
            <input type="hidden" asp-for="ReturnUrl"/>
            <div class="form-group">
                <label asp-for="EmailVerificationCode"></label>
                <input asp-for="EmailVerificationCode" class="form-control"/>
                <span asp-validation-for="EmailVerificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-link rounded-0" name="button" value="email">Resend Email
                    token
                </button>
            </div>
            <div class="form-group">
                <label asp-for="PhoneVerificationCode"></label>
                <input asp-for="PhoneVerificationCode" class="form-control"/>
                <span asp-validation-for="PhoneVerificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-link rounded-0" name="button" value="phonenumber">Resend
                    Phonenumber token
                </button>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-sm btn-primary text-uppercase rounded-0" name="button"
                        value="verify">Verify Account
                </button>
            </div>
        </form>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
