<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCL.CS.SF | Enterprise sign-in</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>
</head>
<body class="enterprise-shell">
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light enterprise-navbar">
    <div class="container">
        <a class="navbar-brand hclsf-navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="hclsf-navbar-logo">HCL.CS.SF</span>
            <span class="hclsf-navbar-tagline">Official HCL Tech product</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>*@
    </div>
</nav>
<div class="container">
    <main role="main" class="enterprise-main pb-3">
        @RenderBody()
    </main>
</div>

<footer class="hclsf-footer">
    <div class="hclsf-footer__glow"></div>
    <div class="container">
        <div class="hclsf-footer__inner">
            <div class="hclsf-footer__brand">
                <span class="hclsf-footer__logo">HCL.CS.SF</span>
                <span class="hclsf-footer__tagline">Official HCL.CS.SF experience</span>
            </div>
            <div class="hclsf-footer__secure">
                <span class="hclsf-footer__secure-icon" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/></svg>
                </span>
                Secure by design · Encrypted sessions
            </div>
            <div class="hclsf-footer__links">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <span class="hclsf-footer__copy">&copy; 2026 HCL.CS.SF</span>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>
