<div>
    <h5>Api resource claims for resource - <strong>"@ViewData["resourcename"]"</strong></h5>
    <hr/>
    <div class="form-group">
        <div id="messageDiv"></div>
        <table id="ApiResourceClaims" cellpadding="0" cellspacing="0">
        </table>
        <div id="ApiResourceClaimsPager">

        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            var $resources = $('#ApiResourceClaims');
            $resources.jqGrid({
                url: '@Url.Action("GetApiResourceClaimsByResourceId", "ManageApi", new { apiResourceId = ViewData["resourceid"] })',
                editurl: '@Url.Action("ManageApiResourceClaims", "ManageApi", new { apiResourceId = ViewData["resourceid"] })',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Id', 'Type'],
                colModel: [
                    {name: 'Id', sortable: false, editable: false, width: 300},
                    {name: 'Type', sortable: false, editable: true, width: 200}],
                loadComplete: function (data) {
                    let rowDataArray = data.rows;
                    for (let i = 0, j = rowDataArray.length; i < j; i++) {
                        let temp = rowDataArray[i];
                    }
                },
                caption: 'Api Resources Claims',
                //loadonce: false,
                //refresh: true,
                footerrow: true,
                userDataOnFooter: true,
                jsonReader: {repeatitems: false, id: 'Id'},
                pager: $('#ApiResourceClaimsPager'),
                rowNum: 10,
                viewrecords: true,
                height: '100%',
            })
                .jqGrid('navGrid', '#ApiResourceClaimsPager', {add: false, edit: false, del: true, search: false})
                .jqGrid('inlineNav', '#ApiResourceClaimsPager', {
                    edit: false,
                    addParams: {
                        useDefValues: true,
                        addRowParams: {
                            keys: true,
                            extraparam: {},
                            successfunc: function (val) {
                                if (val.responseText != "") {
                                    if (val.responseText == '"Success"') {
                                        $("#messageDiv").append("<div id='divSuccess' class='alert alert-success alert-dismissible fade show' role='alert'><p id='SuccessMessgage'>ApiResource claim successfully added.</p> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
                                        $(this).jqGrid('setGridParam', {datatype: 'json'}).trigger('reloadGrid');
                                    } else {
                                        $("#messageDiv").append("<div id='divSuccess' class='alert alert-danger alert-dismissible fade show' role='alert'><p id='SuccessMessgage'>" + val.responseText + "</p> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
                                    }
                                }
                            }
                        }
                    },
                    editParams: {
                        keys: false,
                        oneditfunc: null,
                        successfunc: function (val) {
                            if (val.responseText != "") {
                                $(this).jqGrid('setGridParam', {datatype: 'json'}).trigger('reloadGrid');
                            }
                        }
                    }
                },)
        });
    </script>
}
